@igiu:registry=https://artifactory.oci.oraclecorp.com/api/npm/cgiu-monetization-dev-npm-local/
registry=https://artifacthub-iad.oci.oraclecorp.com/api/npm/npmjs-remote
strict-ssl=true
proxy=http://www-proxy.us.oracle.com:80
https-proxy=http://www-proxy.us.oracle.com:80
noproxy=localhost,127.0.0.1,.alm.oraclecorp.com,alm.oraclecorp.com,.oraclecorp.com
